#cart-page-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 400px;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: rgb(113, 197, 169);
}

#products-in-cart-container {
    width: 65%;
    height: min-content;
    box-sizing: border-box;
    background-color: rgb(197, 157, 113);
}

#products-in-cart-container-title {
    width: 100%;
    height: 35px;
    margin: 0;
    background-color: rgb(43, 158, 83);
}

#product-in-list {
    display: block;
    width: 100%;
    height: 20px;
    margin: 0;
    background-color: rgb(190, 89, 176);
}

#summary {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    height: 300px;
    box-sizing: border-box;
    background-color: rgb(161, 113, 197);
}

#summary-title {
    width: 100%;
    height: 35px;
    margin: 0;
    background-color: rgb(43, 158, 83);
}

#buy-now-button {
    width: 250px;
    height: 50px;
}