.details-page {}

.breadcrumbs {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  div {
    font-size: 20px;
    font-weight: 500;
    color: #d2b06f;
    text-transform: uppercase;
    padding: 8px 0;

    &:nth-child(2n) {
      font-size: 20px;
      font-weight: 500;
      color: #ffa500;
    }

  }

}

.product-inner {
  width: 100%;
  height: min-content;
  border: 1px solid #ffa500;
  overflow: hidden;
  border-radius: 10px;
  background-color: rgba(30, 27, 27, 0.501961);
  padding: 0.5%;
  margin-top: 16px;
}

.product-title {
  height: 58px;
  box-sizing: border-box;
  background-color: rgb(92, 162, 153);
}

.product-data {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.product-image-main {
  max-height: 40vh;
  width: auto;
  max-width: 100%;
  background-color: #cacaca;
}

.product-order {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 230px;
  height: 100%;
}

.details-price {
  font-size: 24px;
  font-weight: 600;
}