.details-page {
    width: 75%;
    height: 600px;
    box-sizing: border-box;
    background-color: rgb(255, 243, 105);
}

#link-navigation {
    display: flex;
    justify-content: space-around;
    height: 28px;
    margin: 47px 0;
    box-sizing: border-box;
    background-color: rgb(98, 92, 162);
}

#product-title {
    height: 58px;
    box-sizing: border-box;
    background-color: rgb(92, 162, 153);
}

#product-data {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 410px;
    box-sizing: border-box;
    background-color: rgb(162, 92, 136);
}

.products-image {
    width: 350px;
    height: 100%;
    box-sizing: border-box;
    background-color: gold;
}

.products-properties {
    width: 120px;
    height: 120px;
    box-sizing: border-box;
    background-color: maroon;
}

.products-order {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 230px;
    height: 100%;
    box-sizing: border-box;
    background-color: tan;
}

#details-price {
    font-size: 24px;
    font-weight: 600;
}