.home-page-filters-container {
  display: flex;
  width: 20%;
  background-color: rgba(24, 26, 28, .5);
  border: 2px solid #ffa500;
  color: #ffa500;
  border-radius: 10px;
  padding: .5%;
  height: fit-content;
}

.filters {
  width: 100%;

  &-category {}
}

.filter-title {
  margin: 0;
  padding-bottom: 14px;
  text-align: center;
  border-bottom: 1px solid #ffa500;
  font-size: 24px;
}

.filter-item {
  display: flex;
  align-items: center;
  font-size: 20px;
  padding: 4px 0;

  &-checkbox {
    width: 18px;
    height: 18px;
    accent-color: auto;

    &:checked {
      accent-color: #ffa500;
    }
  }

  &-label {
    margin-left: 8px;
  }

  &-count {
    margin-left: auto;
  }
}

.filter-price {

  &-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
  }

  &-input {
    width: 45%;
    color: #ffa500;
    font-size: 18px;
    padding: 4px 8px;
    border: 1px solid #ffa500;
    border-radius: 4px;
    background: none;
  }

  &-separator {
    width: 18px;
    height: 2px;
    background: #ffa500;
    border-radius: 2px;
  }
}

.filter-btns-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 16px;
  padding-top: 16px;
  border-top: 1px solid #ffa500;
}

.filter-btn {
  width: 45%;
  color: #ffa500;
  font-size: 18px;
  background-color: #181a1c;
  border: 1px solid #ffa500;
  border-radius: 4px;
  padding: 4px 8px;
  cursor: pointer;
  transition: background-color .3s ease-in, color .3s ease-in;

  &:hover {
    background-color: #ffa500;
    color: #fff;
  }

  &:focus {
    background-color: #ffa500;
    color: #fff;
  }
}

.btn-reset {}

.btn-copy {}