.product-gallery {
  display: flex;
  flex-direction: column;
}

.product-image {
  width: 115px;
  height: 115px;
  background-color: #cacaca;
  object-fit: cover;
  object-position: center center;
}