// #nav {
//     display: flex;
//     justify-content: space-around;
// }

// #a1,
// #a2 {
//     width: 70px;
//     height: 50px;
//     background-color: rgb(255, 122, 122);
// }

.header {
  background-color: #181a1c;
  color: #ffa500;
  border-bottom: 2px solid #ffa500;
  border-radius: 0 0 24px 24px;
  padding: 16px 0 16px;

  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.price {
  font-size: 24px;

  &-text {
    
  }

  &-number {
    margin-left: 4px;
    color: #f5deb3;
  }
}