.item {}

.item-title {
    margin: 0;
    // box-sizing: border-box;
    font-size: 16px;
    font-weight: 400;
}

.item-info {}

.item-footer {}

.item-info-line {
    font-size: 12px;
    color: lime;
}

.card-item-footer-btn {}

.selected {
    border: 3px rgb(0, 255, 0) solid;
}